:root {
    --scaling-factor: 1.2;
    --width: calc(28px * 16 * var(--scaling-factor) + 2px);
    --height: calc(32px * 16 * var(--scaling-factor) + 2px);
}

@media only screen and (max-width: 799px) {
    
}

* {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: "Press Start 2P";
}

#wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#header {
    margin-top: 10px;
    position: relative;
    left: calc(50% - var(--width) / 2);
    width: var(--width);
    height: 40px;
    color: white;
    font-size: 14px;
}

#score-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    left: calc(var(--scaling-factor) * 10%);
    top: 0px;
}

#one-up {
    animation: blinker 0.5s infinite;
}

@keyframes blinker {
    0% { opacity: 100% }
    50% { opacity: 0% }
  }

#high-score-container {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(var(--width) / 2 - 140px / 2);
    top: 0px;
}

#game {
    position: absolute;
    width: var(--width);
    left: calc(50% - var(--width) / 2);
}

#game>canvas {
    image-rendering: pixelated;
    zoom: var(--scaling-factor);
    background-color: transparent;
    position: absolute;
}

#world {
    z-index: 0;
}

#pacman {
    z-index: 1;
}

#blinky {
    z-index: 2;
}