:root {
    --scaling-factor: 0.8;
    --width: calc(28px * 16 * var(--scaling-factor) + 2px);
    --height: calc(32px * 16 * var(--scaling-factor) + 2px);
}

* {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: "Press Start 2P";
}

#wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#header {
    position: relative;
    width: var(--width);
    height: 30px;
    color: white;
    font-size: 10px;
}

#score-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    left: 10%;
    top: 0px;
}

#one-up {
    animation: blinker 0.5s infinite;
}

@keyframes blinker {
    0% { opacity: 100% }
    50% { opacity: 0% }
  }

#high-score-container {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc((var(--width) / 2) - (120px / 2));
    top: 0px;
}

#game {
    image-rendering: pixelated;
    margin: 0px 30px;
    zoom: var(--scaling-factor);
}